		body{
			font-family: 'Roboto Condensed', sans-serif;
			margin: 0;
			font-weight: 800;
		}

		.container {
			width: 90%;
			margin: 0 auto;
		}

/*MAIN HEADER*/
		header {
		  background: #ffa500;
		  height: 50px;
		}

		header::after {
		  content: '';
		  display: table;
		  clear: both;
		}

		.logo {
		  float: left;
		  padding: 0;
		  margin: 0;

		}

		.logo a {
			color: #000;
			text-decoration: none;
			font-size: 28px;
			padding-top:10px;
		}

		nav {
		  float: right;
		}

		nav ul {
		  margin: 0;
		  padding: 0;
		  list-style: none;
		}

		nav li {
		  display: inline-block;
		  margin-left: 70px;
		  position: relative;
		}

		nav a {
		  color: #444;
		  text-decoration: none;
		  text-transform: uppercase;
		  font-size: 14px;
		}

		nav a:hover {
		  color: #000;
		}

		nav a::before {
		  content: '';
		  display: block;
		  height: 5px;
		  background-color: #444;
		  width: 0%;
		  transition: all ease-in-out 250ms;
		}

		nav a:hover::before {
		  width: 100%;
		}

		
/*HEADER*/
		.header {
 		   	background-color: white;
    		border-bottom: solid 1px #dbd2d2;
		}

		.header ul {
		    list-style-type: none;
		    margin: 0px;
		    padding: 0px;
		    height: 40px;
		}

		.header li {
			text-align: center;
			padding-top: 5px;
		}

		.header a {
			margin-right: 35px;	
			margin-left: 35px;
		    color: black;
		    text-decoration: none;
		    font-size: 18px;
		}

		.header a:hover {
			color: #ffa500;
		}


/*BODY*/

		.body .container{
			padding: 20px;
			/*background: rgba(251, 216, 167, 0.11);*/
    		
		}

		.body h2 {
		    width: 80%;
		    margin: 0;
		    display: contents;
		}


		.body .main_img{
			width: 100%;
			text-align: center;
			box-shadow: -2px 4px 21px -11px rgba(0,0,0,0.5);
		}

		.heart {
		    position: absolute;
		    right: 87px;
		}

		.heart img {
			width: 45px;
		    opacity: 0.34;
		    transition: opacity 0.5s;
		}

		.heart img:hover {
		    opacity: 0.8;
		}

		.body .main_info{
			font-size: 17px;
		}

		.body h4{
			border-bottom: 1px solid red;
			padding: 10px;
			width: 150px; 
		}

		.body li{
			font-size: 15px;
		}

		.body .cooking p{
			font-size: 15px;
			width: 80%;
		}

		.main_card{
		    padding: 10px;
		    border-radius: 21px;
		    background: #fff;
		}

		.card {
		    box-shadow: -2px 4px 21px -11px rgba(0,0,0,0.5);
		    padding: 10px;
		    border-radius: 21px;
		    background: #fff;
		    margin: 50px;
		}


/*BOTTON*/
    .bottom {
      background-color: rgb(34 34 34);
    }

    .bottom_link {
      display: flex;
    }

    .bottom_link ul{

      display: flex;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    .bottom_link p {
      color: rgb(144  144 144 );
      font-size: 16px;
        padding: 10px;
    }

    .bottom_link li {
      padding-top: 20px;
    }

    .bottom_link li a {
      color: white;
        text-decoration: none;
        margin: 0px 25px;
        font-size: 14px;
    }

