.body{
      width: 75%;
    float: left;
    height: 1000px;
    padding: 50px;
}

.post-info{
      margin-bottom: 50px;
}

.post-info input {
      margin: 30px 0 0 50px;
    border: 0px;
    padding: 5px;
    font-size: 30px;
    border-bottom: 2px solid red;
    width: 60%;
}

.post-name{
      font-size: 38px;
}

.tags{
      display: inline-flex;
}

.tag{
      margin: 38px;
}

.tag:active{
  color: red;
}

.addButton{
      border: 0px;
}

.addButton:hover{
    
}

.addButton img{
      width: 149px;   
}